filter-dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  contain: strict;
  z-index: 20;
}

filter-dialog
dialog-content {
  margin-top: 75px;
  width: 700px;
  background: white;
  overflow: auto;
  display: block;
  padding: 4px;
  background-color: #f0f0f0;
}

filter-dialog
input {
  -webkit-appearance: none;
  background: 0 0;
  text-align: left;
  border: 0;
  font-size: 20px;
  text-overflow: ellipsis;
  width: 100%;
  flex-grow: 1;
  padding: 1ex;
  margin-bottom: 4px;
  background-color: white;
  border-radius: 4px;
}

filter-dialog
input:focus {
  outline: 0
}

filter-dialog
search-results {
  max-height: 700px;
  background: white;
  overflow: auto;
  position: relative;
  display: block;
}

filter-dialog
search-highlight {
  background: #ff0;
}

filter-dialog
search-item {
  display: grid;
  align-items: center;
  grid-template-columns: var(--icon-size) auto;
  grid-template-rows: auto auto;
  grid-column-gap: 13px;
  grid-template-areas: "icon title"     "icon subtitle";
  padding: 4px 18px;
  cursor: pointer;
  min-height: 50px;
  border-bottom: 1px solid rgba(51,51,51,.12);
  --icon-size: 14px;
}

filter-dialog
search-item-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--monospace);
  height: 50px;
  border-bottom: 1px solid rgba(51,51,51,.12)
}

filter-dialog
search-item.no-subtitle {
  grid-template-areas: "icon title";
  grid-template-rows: auto;
}

filter-dialog search-item-custom.selected,
filter-dialog search-item.selected {
  background-color: #e3f2fd;
}

filter-dialog search-item-custom:hover,
filter-dialog search-item:hover {
  background-color: var(--hover-color);
}

filter-dialog
search-item-icon {
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: center;
}

filter-dialog
search-item-title {
  grid-area: title;
  font-family: var(--monospace);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

filter-dialog
search-item-subtitle {
  grid-area: subtitle;
  font-size: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
