sidebar-component {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: auto;
  user-select: none;
  contain: strict;
  white-space: nowrap;
}

sidebar-component
header {
  padding: 10px 10px 2px 10px;
  font-weight: 700;
  color: #969696;
}

sidebar-component
file-entry {
  padding: 4px;
  padding-left: calc(var(--depth) * 11px);
  display: block;
}

sidebar-component
file-entry-content {
  --icon-size: 9px;
  position: relative;
  display: flex;
  align-items: center;
}

sidebar-component
file-entry.selected {
  background-color: rgba(126, 188, 254, 0.5);
}

sidebar-component
expand-icon {
  -webkit-mask-image: url(./expand-icon.svg);
  -webkit-mask-size: var(--icon-size) var(--icon-size);
  -webkit-mask-position: 0 0;
  background-color: #a5a5a5;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 4px;
  transition: transform 100ms ease-in-out;
  flex-shrink: 0;
}

expand-icon.expanded {
  transform: rotate(90deg);
}

sidebar-component
filetype-icon {
  -webkit-mask-image: url(./filetype-icon.svg);
  -webkit-mask-size: var(--icon-size) var(--icon-size);
  -webkit-mask-position: 0 0;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 4px;
  flex-shrink: 0;
  margin-left: 2px;
}

sidebar-component
file-entry:hover:not(.selected) {
  cursor: pointer;
  background-color: #eee;
}

sidebar-component
file-navigator {
  min-width: max-content;
}

sidebar-component .mime-js {
  background-color: #FFEB3B;
}

sidebar-component .mime-css {
  background-color: #CE93D8;
}

sidebar-component .mime-html {
  background-color: #BBDEFB;
}
