split-component {
  display: flex;
  flex: auto;
}

split-component
split-left {
  width: 300px;
  flex-shrink: 0;
  overflow: hidden;
}

split-component
split-right {
  flex-grow: 1;
  overflow: hidden;
}

split-component
split-divider {
  flex: 0 0 4px;
  z-index: 10;
  border-left: 1px solid #8e8e8e;
  border-right: 1px solid #8e8e8e;
}

split-component
split-divider:hover {
  cursor: col-resize;
}
