body {
    font-family: monospace;
    white-space: pre;
}

ins {
    background-color: #9cffa0;
    text-decoration: none;
}

del {
    background-color: #ff9e9e;
}

.svg-controls {
  display: flex;
}

.svg-diff {
  position: relative;
  white-space: normal;
}

.svg-actual {
  position: absolute;
  left: 0;
  top: 0;
}

