split-component {
  display: flex;
  flex: auto;
  overflow: hidden;
}

split-component
split-left {
  width: 300px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

split-component
split-right {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

split-component
split-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
  width: 8px;
  z-index: 10;
}

split-component
split-divider:hover {
  cursor: col-resize;
}

split-divider.dragging {
  width: 100px;
  margin-left: -50px;
}
