statusbar-component {
  flex: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid var(--divider-color);
  user-select: none;
  contain: content;
}

statusbar-component
left-zone {
  user-select: text;
}

statusbar-component
right-zone {
  user-select: text;
}
